<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.tailwindcss.com"></script>

</head>

</head>

<body>

 

  <div style="min-height: 90vh;" class="pb-8 pt-4 mt-20">
    {{{body}}}
  </div>



</body>

</html>
